# API Artia
VITE_ARTIA_API_URL=https://api.artia.com
VITE_ARTIA_API_TOKEN=seu-token-artia-aqui
VITE_API_URL=/api/v1
VITE_API_PROXY_TARGET=http://localhost:3100
VITE_SUPABASE_URL=https://cjjknpbklfqdjsaxaqqc.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# Configurações opcionais
VITE_CACHE_DURATION=86400000
